
@media only screen and (max-width: 480px) {
    main {
        width: 90%;
    }
    h1 {
        font-size: 200%;
    }
    div.img {
        width: calc(70vw - 20px);
        height: calc((70vw - 20px) / 9 * 16);
        padding: 10px;
        margin: 10px;
    }
}