* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}
main {
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    width: 100%;
    text-align: center;
    font-size: 400%;
}
div.img {
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    margin: 20px;
    background-color: #efefef;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}
div.img:hover {
    transform: rotate(3deg) scale(1.07);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
div.img1 {
    background-image: url(../img/artem.png);
}

div.img2 {
    background-image: url(../img/blossom.jpg);
}

div.img3 {
    background-image: url(../img/cherry-pie.jpg);
}

div.img4 {
    background-image: url(../img/christina.jpg);
}

div.img5 {
    background-image: url(../img/comp.jpg);
}

div.img6 {
    background-image: url(../img/fernando.jpg);
}

div.img7 {
    background-image: url(../img/mitch.jpg);
}

div.img8 {
    background-image: url(../img/patrick.jpg);
}

div.img9 {
    background-image: url(../img/toby.jpg);
}

div.img10 {
    background-image: url(../img/vanessa.jpg);
}

div.img11 {
    background-image: url(../img/artem.jpg);
}

div.img12 {
    background-image: url(../img/blossom.jpg);
}
a.button {
    border: 2px solid orange;
    color: black    ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.4s;
}
a.button:hover {
    background-color: orange;
}